{% extends 'base.html' %}
{% block conteudo %}
<h2>Livros</h2>
<a href="{{ url_for('livro.novo') }}">Novo Livro</a>
<ul>
    {% for livro in livros %}
    <li>
        {{ livro.titulo }} ({{ livro.genero }}, {{ livro.ano }}) - Autor: {{ livro.autor.nome }}
        <a href="{{ url_for('livro.editar', id=livro.id) }}">Editar</a>
        <form action="{{ url_for('livro.excluir', id=livro.id) }}" method="post" style="display:inline;">
            <button type="submit">Excluir</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}